<div class="container">
    <div class="heading">
        <div class="col-md-4 column">
            <h2>{{header.name}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label>DESIGNATION</label>
                                <select class="form-control" ng-model="designation.name" name="designation" required>
                                    <option value="Manager">Manager</option>
                                    <option value="Software Developer">Software Developer</option>
                                    <option value="Tester">Tester</option>
                                    <option value="UI Developer">UI Developer</option>
                                    <option value="Designer">Designer</option>
                                </select>
                                <!-- <div class="error-msg" ng-repeat="(field,value) in formData.designation.$error" ng-show="formData.designation.$invalid && formData.designation.$touched">

                                        <span class="label label-danger" ng-if="field=='required' && value"> select your designation</span>
                                    </div> -->
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div class="text-center">
                        <button class="btn btn-primary" ng-click="saveData(designation)">Save</button>
                        <button class="btn btn-danger" ui-sref="designation">Cancel </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>