<div class="container">
    <div class="learning-content form-group">
        <div class="links">
            <h4>UI DEVELOPMENT</h4>
            <ol>
                <li>
                    <b>Html And Html5</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/html/" target="_blank">https://www.w3schools.com/html/</a>
                        </li>
                        <li>
                            <a href="https://www.tutorialspoint.com/html/" target="_blank">https://www.tutorialspoint.com/html/</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Css And Css3</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/css/default.asp" target="_blank">https://www.w3schools.com/css/default.asp</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=QqmCs2UTS8s&list=PLP9IO4UYNF0XQNx1OinMm84lyGzWSWDms" target="_blank">https://www.youtube.com/watch?v=QqmCs2UTS8s&list=PLP9IO4UYNF0XQNx1OinMm84lyGzWSWDms</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Responsive</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/css/default.asp" target="_blank">https://www.w3schools.com/css/default.asp</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=QqmCs2UTS8s&list=PLP9IO4UYNF0XQNx1OinMm84lyGzWSWDms" target="_blank">https://www.youtube.com/watch?v=QqmCs2UTS8s&list=PLP9IO4UYNF0XQNx1OinMm84lyGzWSWDms</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Bootstrap</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/bootstrap4/default.asp" target="_blank">https://www.w3schools.com/bootstrap4/default.asp</a>
                        </li>
                        <li>
                            <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Angular bootstrap ui</b>
                    <ol>
                        <li>
                            <a href="https://morgul.github.io/ui-bootstrap4/" target="_blank">https://morgul.github.io/ui-bootstrap4/</a>
                        </li>

                    </ol>
                </li>
                <li>
                    <b>Scss</b>
                    <ol>
                        <li>
                            <a href="http://sass-lang.com/guide" target="_blank">
                                http://sass-lang.com/guide
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=St5B7hnMLjg&list=PL4cUxeGkcC9iEwigam3gTjU_7IA3W2WZA" target="_blank">
                                https://www.youtube.com/watch?v=St5B7hnMLjg&list=PL4cUxeGkcC9iEwigam3gTjU_7IA3W2WZA
                            </a>
                        </li>
                        <li>
                            <a href="http://bourbon.io/docs/" target="_blank">
                                http://bourbon.io/docs/
                            </a>
                        </li>
                        <li>
                            <a href="https://webdesign.tutsplus.com/tutorials/introducing-bourbon-lightweight-sass-mixins-and-more--cms-24733" target="_blank">
                                https://webdesign.tutsplus.com/tutorials/introducing-bourbon-lightweight-sass-mixins-and-more--cms-24733
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="learning-content form-group">
        <div class="links">
            <h4>INTEGRATION</h4>
            <ol>
                <li>
                    <b>Functions in javascript (Callback function)</b>
                    <ol>
                        <li>
                            <a href="https://www.youtube.com/watch?v=VsvYUp61m1o&list=PLvZkOAgBYrsS6OdwTbuErnYdzyozOY1Hs" target="_blank">
                                https://www.youtube.com/watch?v=VsvYUp61m1o&list=PLvZkOAgBYrsS6OdwTbuErnYdzyozOY1Hs
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Angular</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/angular/angular_intro.asp" target="_blank">
                                https://www.w3schools.com/angular/angular_intro.asp
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=nO1ROKMjPqI&list=PLvZkOAgBYrsS_ugyamsNpCgLSmtIXZGiz" target="_blank">
                                https://www.youtube.com/watch?v=nO1ROKMjPqI&list=PLvZkOAgBYrsS_ugyamsNpCgLSmtIXZGiz
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Lodash</b>
                    <ol>
                        <li>
                            <a href="https://lodash.com/docs/4.17.4" target="_blank">
                                https://lodash.com/docs/4.17.4
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=tWqx8_ALrlI" target="_blank">
                                https://www.youtube.com/watch?v=tWqx8_ALrlI
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Async</b>
                    <ol>
                        <li>
                            <a href="https://caolan.github.io/async/docs.html" target="_blank">
                                https://caolan.github.io/async/docs.html
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=NRh_ELAOuLU" target="_blank">
                                https://www.youtube.com/watch?v=NRh_ELAOuLU
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="learning-content form-group">
        <div class="links">
            <h4>Backend</h4>
            <b>WRITING API's</b>
            <ol>
                <li>
                    <b>monogdb</b>
                    <ol>
                        <li>
                            <a href="https://docs.mongodb.com/" target="_blank">
                                https://docs.mongodb.com/
                            </a>
                        </li>
                        <li>
                            <a href=" https://www.tutorialspoint.com/mongodb/" target="_blank">
                                https://www.tutorialspoint.com/mongodb/
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Node</b>
                    <ol>
                        <li>
                            <a href="https://www.w3schools.com/nodejs/" target="_blank">
                                https://www.w3schools.com/nodejs/
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tutorialspoint.com/nodejs/" target="_blank">
                                https://www.tutorialspoint.com/nodejs/
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=-u-j7uqU7sI&list=PL6gx4Cwl9DGBMdkKFn3HasZnnAqVjzHn_" target="_blank">
                                https://www.youtube.com/watch?v=-u-j7uqU7sI&list=PL6gx4Cwl9DGBMdkKFn3HasZnnAqVjzHn_
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Mongoose</b>
                    <ol>
                        <li>
                            <a href="http://mongoosejs.com/docs/guide.html" target="_blank">
                                http://mongoosejs.com/docs/guide.html
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
    <div class="learning-content form-group">
        <div class="links">
            <h4>BASICS</h4>
            <ol>
                <li>
                    <b>Wohlig Framework</b>
                    <ol>
                        <li>
                            <a href="https://www.youtube.com/watch?v=LyHNPT-GvDs" target="_blank">
                                https://www.youtube.com/watch?v=LyHNPT-GvDs
                            </a>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Git</b>
                    <ol>
                        <li>
                            <a href="https://www.youtube.com/watch?v=BzznC-GPrvA" target="_blank">
                                https://www.youtube.com/watch?v=BzznC-GPrvA
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=cEGIFZDyszA&list=PL6gx4Cwl9DGAKWClAD_iKpNC0bGHxGhcx" target="_blank">
                                https://www.youtube.com/watch?v=cEGIFZDyszA&list=PL6gx4Cwl9DGAKWClAD_iKpNC0bGHxGhcx
                            </a>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>