<div class="container">
    <div class="heading">
        <div class="col-md-4 column">
            <h2>ProvidentFund Table</h2>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="table-area">
                    <div class="widget-title">
                        <div class="pull-right">

                            <input type="text" placeholder="search" ng-model="table.search">
                            <a class="btn btn-primary" ui-sref="providentfundEdit">Create</a>

                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>

                                    <th>
                                        SrNo
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>Range</th>

                                    <th> PF Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="providentfund in providentfunds | filter:table.search">
                                <td>{{$index+1}}</td>
                                <td>

                                    <div>{{providentfund.amount }}</div>
                                </td>
                                <td>
                                    <div>{{providentfund.range}}</div>
                                </td>
                                <td>

                                    <div>{{providentfund.pfAmount}}</div>
                                </td>


                                <td>
                                    <a class="btn btn-primary" ui-sref="providentfundEdit({id:providentfund._id})">Edit</a>
                                    |
                                    <a class="btn btn-danger" type="delete" ng-click="delete(providentfund._id)">Delete</a>


                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>